@font-face {
  font-display: swap;
  font-family: aeonik;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742851255-aeonikprovf.woff2') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742851240-aeonikprovf-italic.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-greek;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848765-aeonikprovf.woff2') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-greek;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848774-aeonikprovf-italic.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-cyrillic;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848765-aeonikprovf.woff2') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-cyrillic;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848774-aeonikprovf-italic.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-thai;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848646-aeonikthaivf.woff2') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-thai;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848654-aeonikthaivf.woff2') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-hebrew;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848503-aeonikhebrewvf.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-hebrew;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848510-aeonikhebrewvf-italic.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-arabic;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848432-aeonikarabicvf.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-hangul;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848379-aeonikhangulvf.woff2')
    format('truetype');
}

.aeonik {
  font-family: aeonik, Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-variation-settings: 'wght' 400;
}

@font-face {
  font-display: swap;
  font-family: aeonik-condensed;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742849052-aeonikcondensedprovf.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-condensed;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742849059-aeonikcondensedprovf-italic.woff2')
    format('truetype');
}

.aeonik-condensed {
  font-family: aeonik-condensed, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: aeonik-extended;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742846978-aeonikextendedprovf.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: aeonik-extended;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742846971-aeonikextendedprovf-italic.woff2')
    format('truetype');
}

.aeonik-extended {
  font-family: aeonik-extended, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: aeonik-fono;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742848900-aeonikfonoprovf.woff2')
    format('truetype');
}

.aeonik-fono {
  font-family: aeonik-fono, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: aeonik-mono;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1742845938-aeonikmonoprovf.woff2')
    format('truetype');
}

.aeonik-mono {
  font-family: aeonik-mono, monospace;
}

@font-face {
  font-display: swap;
  font-family: rm-mono;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719413072-rmmono-vf.woff2') format('truetype');
}

.rm-mono {
  font-family: rm-mono, monospace;
}

@font-face {
  font-display: swap;
  font-family: lock-serif;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1727951940-lockserif-roman-vf.woff2')
    format('truetype');
}

.lock-serif {
  font-family: lock-serif, Georgia, serif;
}

@font-face {
  font-display: swap;
  font-family: lock-serif-stencil;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1727951996-lockserifstencil-roman-vf.woff2')
    format('truetype');
}

.lock-serif-stencil {
  font-family: lock-serif-stencil, Georgia, serif;
}

@font-face {
  font-display: swap;
  font-family: lock-sans;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1726225052-locksans-roman-vf.woff2')
    format('truetype');
}

.lock-sans {
  font-family: lock-sans, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: lock-sans-stencil;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1727952013-locksansstencil-roman-vf.woff2')
    format('truetype');
}

.lock-sans-stencil {
  font-family: lock-sans-stencil, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: altform;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719412762-altform-vf.ttf') format('truetype');
}

.altform {
  font-family: altform, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: ambit;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719412854-ambit-vf-roman.woff2')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: ambit;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719412848-ambit-vf-italic.woff2')
    format('truetype');
}

.ambit {
  font-family: ambit, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: coanda;
  font-style: normal;
  font-weight: 100;
  src: url('https://www.datocms-assets.com/135497/1719478051-coanda-thin.woff') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: coanda;
  font-style: normal;
  font-weight: 300;
  src: url('https://www.datocms-assets.com/135497/1719478048-coanda-light.woff') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: coanda;
  font-style: normal;
  font-weight: 400;
  src: url('https://www.datocms-assets.com/135497/1719478050-coanda-regular.woff')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: coanda;
  font-style: normal;
  font-weight: 700;
  src: url('https://www.datocms-assets.com/135497/1719478047-coanda-bold.woff') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: coanda;
  font-style: normal;
  font-weight: 900;
  src: url('https://www.datocms-assets.com/135497/1719478046-coanda-black.woff') format('truetype');
}

.coanda {
  font-family: coanda, monospace;
}

@font-face {
  font-display: swap;
  font-family: scandium;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1720017635-scandium-vf.woff') format('truetype');
}

.scandium {
  font-family: scandium, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: orbikular;
  font-style: normal;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719413019-orbikular-variable-roman-vf.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: orbikular;
  font-style: italic;
  font-weight: normal;
  src: url('https://www.datocms-assets.com/135497/1719413018-orbikular-variable-italic-vf.ttf')
    format('truetype');
}

.orbikular {
  font-family: orbikular, Georgia, serif;
}

@font-face {
  font-display: swap;
  font-family: gridular;
  font-style: normal;
  font-weight: 400;
  src: url('https://www.datocms-assets.com/135497/1719477891-gridular-regular.woff')
    format('truetype');
}

.gridular {
  font-family: gridular, monospace;
}

@font-face {
  font-display: swap;
  font-family: betatron;
  font-style: normal;
  font-weight: 400;
  src: url('https://www.datocms-assets.com/135497/1724921305-betatron-regular.woff2')
    format('truetype');
}

.betatron {
  font-family: betatron, Roboto, 'Helvetica Neue', Arial, sans-serif;
}
